.btn__box {
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.btn {
  width: 200px;
  font-size: larger;
  font-weight: 600;
  padding: 15px 0;
  text-align: center;
  margin: 0 50px;
  border: none;
  border-radius: 20px;
}

.btn:hover,
.btm:focus {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.btn__positive {
  background-color: rgb(72, 216, 35);
  color: aliceblue;
}

.btn__positive:hover {
  box-shadow: 0px 0px 35px rgba(174, 255, 0, 0.9);
}

.btn__neutral {
  background-color: yellow;
  color: grey;
}

.btn__neutral:hover {
  box-shadow: 0px 0px 35px rgba(255, 205, 104, 0.9);
}

.btn__negative {
  background-color: rgb(255, 81, 116);
  color: white;
}

.btn__negative:hover {
  box-shadow: 0px 0px 35px rgba(255, 81, 110, 0.9);
}
